<div>
{% if page.tweetWidgetId %}
<a id="tweet" />
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a href="https://twitter.com/intent/tweet?screen_name=OMGerdts&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @OMGerdts</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a
  class="twitter-timeline"
  href="https://twitter.com/search?q={{ page.url | uri_escape }}"
  data-widget-id="{{ page.tweetWidgetId }}">Tweets about {{ page.url }}</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% else %}
<b>FIXME:</b>
<a href="https://twitter.com/settings/widgets/new/search?query=https://mgerdts.github.com{{ page.url }}" target="_new">Set up tweetWidgetId</a>
{% endif %}
</div>
