---
layout: default
---

<section class="post">
  <div class="grid">

    <div class="unit four-fifths">
      <article>
        <div class="improve right hide-on-mobiles">
        </div>
        <h1>{{ page.title }}</h1>

        <div class="entry">
          {{ content }}
        </div>
        <div class="date">
          Written on {{ page.date | date: "%B %e, %Y" }}
        </div>
      </article>
    </div>

    {% include blog_index.html %}

    <div class="clear"></div>
  </div>
</section>

